html {
    background-color: rgb(165, 165, 165);
}

body {
    background-color: rgb(165, 165, 165);
}

.Menu{
    background-color: rgb(165, 165, 165);
}

.Produit{
    background-color: rgb(165, 165, 165);
}

.NomProduit{
    background-color: rgb(165, 165, 165);
}

.ImageProduit{
    height: 200px;
    width: 35%;
}

.active{
    color: black;
}

.DescriptionProduit{
    background-color: rgb(165, 165, 165);
    width: 75%;
}

.PrixProduit{
    background-color: rgb(165, 165, 165);
    width: 75%;
}

.BoutonPanier{
    background-color: rgb(165, 165, 165);
    width: 75%;
}
