<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav>
    <a routerLink="/main" routerLinkActive="active">Main</a>
    <a routerLink="/connect" routerLinkActive="active">Connect</a>
    <a routerLink="/panier" routerLinkActive="active">Panier</a>
    <a routerLink="/paiement" routerLinkActive="active">Payer</a>
    <a routerLink="/administrateur" routerLinkActive="active">Administrateur</a>
  </nav>
</div>

<router-outlet></router-outlet>



