<div>
  <div class="title">
    <h1>
      Administrateur
    </h1>
  <p>
    Ajouter account
  </p>
  <input [(ngModel)]="nomAccount" type="text" value="Nomaccount">
  <input [(ngModel)]="passwordAccount" type="text" value ="Password">
  <input [(ngModel)]="typeAccount" type="text" value ="Typeaccount">
  <br>
  <input type="button" value="Ajouter">
  <p>
    Enlever account
  </p>
  <input [(ngModel)]="idAccount"type="text" value ="Id account">
  <br>
  <input type="button" value="Enlever">
  <p>
  <br>
    Ajouter produit
  </p>
  <input [(ngModel)]="nomProduit" type="text" value="Nom produit">
  <input [(ngModel)]="descriptionProduit" type="text" value="Description produit">
  <input [(ngModel)]="imageProduit" type="text" value="Image produit">
  <input [(ngModel)]="prixProduit" type="text" value="Prix produit">
  <input [(ngModel)]="quantiteProduit" type="text" value="Quantite produit">
  <br>
  <input type="button" value="Ajouter">
  <p>
    Enlever produit
  </p>
  <input [(ngModel)]="idProduit"type="text" value = "Id produit">
</div>
