<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="title">
    <h1>
      Panier
    </h1>

    <div class = "menu" style="text-align:left">
      <input type="button" value="Connect">
      <input type="button" value="Panier">
    </div>
  </div>
  <div class="produit" style="text-align:left">
    <p>Computer 1</p>
    <p>Hp 3ghz</p>
    <p>500 $</p>
    <img src="../assets/img/1_1.jpg" width="250" height="141" alt=""/>
    <br>
    <br>
    <input type="button" value="Ajouter">
  </div>
</div>
